<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCSOA4MSSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <TCSOA4MSSQL.Properties.Settings>
            <setting name="TCSOA4MSSQL_WebReference_Core2001DataManagementService"
                serializeAs="String">
                <value>http://localhost:80/PTierApp/WebServices/Core-2020-01-DataManagement</value>
            </setting>
        </TCSOA4MSSQL.Properties.Settings>
    </applicationSettings>
</configuration>